body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background: #fbfffe;
    color: #00332b;

    
    scroll-behavior: smooth;
}


.navbar {
    width: 96%;
    background: #fbfffe;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 30px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-logo {
    height: 45px;
    width: 45px;
    object-fit: contain;
}
.nav-links a {
    margin-left: 25px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #00332b;
    padding: 10px 18px;
    border-radius: 12px;
    transition: 0.3s ease;
    background: #fbfffe;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.nav-links a:hover {
    background: #e7f8f4;
    color: #005f4d;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

h2{
margin-top: 20px;
font-family: Arial;
font-size:50px ;
color:#3676e7;
}
p{
    margin-top: 3px;
    font-size: 30px;
    margin-left:100px;
    margin-right: 100px;
    text-align: justify;
}
.text-box {
    width: 90%;
    max-width: 1000px;
    margin: 5px auto;
    padding: 25px;
    background: #ffffff;
    border-radius: 16px;


    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.12);

   
    font-size: 18px;
    color: #00332b;
    line-height: 1.6;
}
.text-box {
    width: 90%;
    max-width: 1000px;
    margin: 5px auto;
    padding: 25px;
    background: #ffffff;
    border-radius: 16px;

    
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.12);

   
    font-size: 18px;
    color: #00332b;
    line-height: 1.6;
}
.fix{
    margin-bottom: 70px;
}
.fade-in-text {
    opacity: 0;
    transform: translateY(10px);
    animation: fadeIn 1.5s forwards;
    animation-delay: 0.3s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}